<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eliel Medina</title>
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Work+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="assets/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="assets/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="assets/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="assets/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="assets/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="assets/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="assets/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="assets/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="assets/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="assets/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <!-- MENU -->
    <nav class="menu">
      <a href="#inicio">Inicio</a>
      <a href="#work">Trabajo</a>
      <a href="#skills">Habilidades</a>
      <a href="#contact">Contacto</a>
    </nav>
    <!-- MENU-MOBILE -->
    <header class="menu-mobile">
      <div class="icon">
        <a href="index.html" class="logo">
          <img src="assets/icons/racoon.svg" alt="" />
        </a>
      </div>
      <nav id="nav" class="nav ocultar entrance">
        <a href="#inicio">Inicio</a>
        <a href="#work">Proyectos</a>
        <a href="#skills">Habilidades</a>
        <a href="#contact">Contacto</a>
      </nav>
      <div class="hamburguer">
        <a href="#" id="buttonOpenCloseMenu">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
          </svg>
        </a>
      </div>
    </header>
    <!-- MAIN-IMAGE -->
    <div class="main-img" id="inicio">
      <div class="main-img__bg">
        <div class="main-img__text">
          <h1 class="nomargin">Eliel Medina</h1>
          <p class="nomargin typed"></p>
        </div>
      </div>
    </div>
    <!-- INTRO -->
    <section class="intro container">
      <h2>Sobre mí</h2>
      <div class="intro__text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos aut
          incidunt est debitis quo alias non. Magnam odit exercitationem
          aspernatur.
        </p>
      </div>
      <a href="" download="Eliel Medina CV" class="btn">Descargar CV</a>
    </section>
    <!-- WORK -->
    <section id="work" class="work">
      <h2 class="work__title">Proyectos</h2>
      <div class="grid work__items">
        <!-- ITEM -->
        <div class="grid__item">
          <picture>
            <source srcset=".avif" type="avif" />
            <source srcset=".webp" type="webp" />
            <img
              loading="lazy"
              width="200"
              height="300"
              src="assets/img/christin-hume-mfB1B1s4sMc-unsplash.jpg"
              alt=""
            />
          </picture>

          <div class="bg-hover">
            <div class="info">
              <a
                href="https://coffeeblog9.netlify.app/"
                target="_blank"
                class="btn info__btn"
                >Ver Proyecto</a
              >
              <a
                href="https://github.com/ElielM9/coffee-blog"
                target="_blank"
                class="btn info__btn"
                >Ver código</a
              >
            </div>
          </div>
        </div>
        <!-- ITEM -->
        <div class="grid__item">
          <picture>
            <source srcset=".avif" type="avif" />
            <source srcset=".webp" type="webp" />
            <img
              loading="lazy"
              width="200"
              height="300"
              src="assets/img/christin-hume-mfB1B1s4sMc-unsplash.jpg"
              alt=""
            />
          </picture>

          <div class="bg-hover">
            <div class="info">
              <a
                href="https://lavitadolce.netlify.app/"
                target="_blank"
                class="btn info__btn"
                >Ver Proyecto</a
              >
              <a
                href="https://github.com/ElielM9/page-italian-restaurant"
                target="_blank"
                class="btn info__btn"
                >Ver código</a
              >
            </div>
          </div>
        </div>
        <!-- ITEM -->
        <div class="grid__item">
          <picture>
            <source srcset=".avif" type="avif" />
            <source srcset=".webp" type="webp" />
            <img
              loading="lazy"
              width="200"
              height="300"
              src="assets/img/christin-hume-mfB1B1s4sMc-unsplash.jpg"
              alt=""
            />
          </picture>

          <div class="bg-hover">
            <div class="info">
              <a
                href="https://tech-busineess.netlify.app/"
                target="_blank"
                class="btn info__btn"
                >Ver Proyecto</a
              >
              <a
                href="https://github.com/ElielM9/pagina-empresa-tecnologia"
                target="_blank"
                class="btn info__btn"
                >Ver código</a
              >
            </div>
          </div>
        </div>
        <!-- ITEM -->
        <div class="grid__item">
          <picture>
            <source srcset=".avif" type="avif" />
            <source srcset=".webp" type="webp" />
            <img
              loading="lazy"
              width="200"
              height="300"
              src="assets/img/christin-hume-mfB1B1s4sMc-unsplash.jpg"
              alt=""
            />
          </picture>

          <div class="bg-hover">
            <div class="info">
              <a
                href="https://todo-list-app-09.netlify.app/"
                target="_blank"
                class="btn info__btn"
                >Ver Proyecto</a
              >
              <a
                href="https://github.com/ElielM9/todo-list-app"
                target="_blank"
                class="btn info__btn"
                >Ver código</a
              >
            </div>
          </div>
        </div>
        <!-- ITEM -->
        <div class="grid__item">
          <picture>
            <source srcset=".avif" type="avif" />
            <source srcset=".webp" type="webp" />
            <img
              loading="lazy"
              width="200"
              height="300"
              src="assets/img/christin-hume-mfB1B1s4sMc-unsplash.jpg"
              alt=""
            />
          </picture>

          <div class="bg-hover">
            <div class="info">
              <a
                href="https://rockedm-festival-em.netlify.app/"
                target="_blank"
                class="btn info__btn"
                >Ver Proyecto</a
              >
              <a
                href="https://github.com/ElielM9/festival-musica"
                target="_blank"
                class="btn info__btn"
                >Ver código</a
              >
            </div>
          </div>
        </div>
        <!-- ITEM -->
        <div class="grid__item">
          <picture>
            <source srcset=".avif" type="avif" />
            <source srcset=".webp" type="webp" />
            <img
              loading="lazy"
              width="200"
              height="300"
              src="assets/img/christin-hume-mfB1B1s4sMc-unsplash.jpg"
              alt=""
            />
          </picture>

          <div class="bg-hover">
            <div class="info">
              <a href="" target="_blank" class="btn info__btn">Ver Proyecto</a>
              <a href="" target="_blank" class="btn info__btn">Ver código</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- SKILLS -->
    <section class="skills container" id="skills">
      <h2>Habilidades</h2>
      <h3>Front-end</h3>
      <div class="skills__content">
        <div class="skills__skill">
          <i class="bx bxl-html5"></i>
          <h3>HTML</h3>
        </div>
        <div class="skills__skill">
          <i class="bx bxl-css3"></i>
          <h3>CSS</h3>
        </div>
        <div class="skills__skill">
          <i class="bx bxl-bootstrap"></i>
          <h3>Bootstrap</h3>
        </div>
        <div class="skills__skill">
          <i class="bx bxl-git"></i>
          <h3>Git</h3>
        </div>
        <div class="skills__skill">
          <i class="bx bxl-javascript"></i>
          <h3>JavaScript</h3>
        </div>
        <div class="skills__skill">
          <i class="bx bxl-sass"></i>
          <h3>SASS</h3>
        </div>
      </div>
    </section>
    <!-- CONTACTO -->
    <section class="contact" id="contact">
      <div class="contact__container">
        <h2>Contacto</h2>
        <div class="contact__columns">
          <div class="contact__location">
            <h3>Contáctame</h3>
            <a href="mailto:elielm291@gmail.com?">ELIELM291@GMAIL.COM</a><br />
            <a href="tel:+528338507324">+52-833-850-7324</a>
            <h3>Ubicación</h3>
            <p>Tampico, Tamps, México</p>
          </div>
          <div class="contact__social">
            <a href="https://www.linkedin.com/in/eliel-m/">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 8c0 .557-.447 1.008-1 1.008s-1-.45-1-1.008c0-.557.447-1.008 1-1.008s1 .452 1 1.008zm0 2h-2v6h2v-6zm3 0h-2v6h2v-2.861c0-1.722 2.002-1.881 2.002 0v2.861h1.998v-3.359c0-3.284-3.128-3.164-4-1.548v-1.093z"
                />
              </svg>
            </a>
            <a href="https://github.com/ElielM9">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm0 6c-3.313 0-6 2.686-6 6 0 2.651 1.719 4.9 4.104 5.693.3.056.396-.13.396-.289v-1.117c-1.669.363-2.017-.707-2.017-.707-.272-.693-.666-.878-.666-.878-.544-.373.041-.365.041-.365.603.042.92.619.92.619.535.917 1.403.652 1.746.499.054-.388.209-.652.381-.802-1.333-.152-2.733-.667-2.733-2.965 0-.655.234-1.19.618-1.61-.062-.153-.268-.764.058-1.59 0 0 .504-.161 1.65.615.479-.133.992-.199 1.502-.202.51.002 1.023.069 1.503.202 1.146-.776 1.648-.615 1.648-.615.327.826.121 1.437.06 1.588.385.42.617.955.617 1.61 0 2.305-1.404 2.812-2.74 2.96.216.186.412.551.412 1.111v1.646c0 .16.096.347.4.288 2.383-.793 4.1-3.041 4.1-5.691 0-3.314-2.687-6-6-6z"
                />
              </svg>
            </a>
            <a href="https://twitter.com/ElielM92">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path
                  d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.5 8.778c-.441.196-.916.328-1.414.388.509-.305.898-.787 1.083-1.362-.476.282-1.003.487-1.564.597-.448-.479-1.089-.778-1.796-.778-1.59 0-2.758 1.483-2.399 3.023-2.045-.103-3.86-1.083-5.074-2.572-.645 1.106-.334 2.554.762 3.287-.403-.013-.782-.124-1.114-.308-.027 1.14.791 2.207 1.975 2.445-.346.094-.726.116-1.112.042.313.978 1.224 1.689 2.3 1.709-1.037.812-2.34 1.175-3.647 1.021 1.09.699 2.383 1.106 3.773 1.106 4.572 0 7.154-3.861 6.998-7.324.482-.346.899-.78 1.229-1.274z"
                />
              </svg>
            </a>
          </div>
          <div class="contact__rights">
            <h3>Derechos</h3>
            <p>
              Todos los derechos reservados: <br />
              Eliel M. <span class="date"></span> &copy;<br />
              Iconos hechos por:<a
                href="https://www.freepik.com"
                title="Freepik"
                >Freepik</a
              ><br />
              De<a href="https://www.flaticon.com/" title="Flaticon"
                >WWW.FLATICON.COM</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="js/scripts-min.js"></script>
  </body>
</html>
