@use "config/colors" as c;
@use "mixins/breakpoints" as m;

.intro {
  display: grid;
  font-size: 2rem;
  margin: 4rem auto;
  margin-top: -5rem;
  width: 100%;
  h2 {
    margin-bottom: 0;
  }
  &__text {
    text-align: center;
    @include m.tablet {
    }
    p {
      margin-top: 1rem;
    }
  }
}
